<p style="color: green"><%= notice %></p>

<h2>Title Search Form</h2>
<%= search_form_for @q do |f| %>

  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>

  <%= f.submit %>
<% end %>

<h2>Unique Count</h2>
<div class='summary'>
  <ul>
    <li>Title: <%= @title_count %></li>
    <li>Author: <%= @author_count %></li>
    <li>Publisher: <%= @publisher_count %></li>
  </ul>
<div>

<h2>Books</h2>

<div id="books">
  <table>
    <thead>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
    </thead>
    <tbody>
      <%= render partial: 'book', collection: @books %>
    </tbody>
  </table>
</div>
